h2 {
  font-size: 24px;
}
.builder {
  background-color: #ffffff;
  padding: 0 20px 50px 20px;
}
.builder h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
#glyphapp h2 {
  margin-left: 20px;
}
#glyph-list li {
  display: block;
  float: left;
  border: 1px solid #eeeeee;
  padding: 10px 5px 5px;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 3px;
  color: #666;
  cursor: pointer;
}
#glyph-list li:hover {
  background-color: #dff1ff;
  color: #000;
}
#glyph-list li.selected {
  box-shadow: 0px 0px 10px #08c;
  background-color: #c7e7ff;
  color: #000;
}
#glyph-list li i {
  font-size: 24px;
}
#selected-view {
  margin-left: 0;
  padding-top: 10px;
  background: #ccc;
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.5);
}
#selected-view #selected-glyph-list {
  margin-left: 10px;
}
#selected-view #selected-glyph-list .clearfix {
  *zoom: 1;
}
#selected-view #selected-glyph-list .clearfix:before,
#selected-view #selected-glyph-list .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
#selected-view #selected-glyph-list .clearfix:after {
  clear: both;
}
#selected-view #selected-glyph-list .preview {
  padding: 5px 0px 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
#selected-view #selected-glyph-list .preview span {
  width: auto !important;
}
#selected-view #selected-glyph-list .preview .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px !important;
  display: inline-block;
}
#selected-view #selected-glyph-list .preview .remove {
  float: right;
  display: none;
  margin-top: -10px;
  margin-right: -5px;
  font-size: 21px;
}
#selected-view #selected-glyph-list .preview:hover {
  background-color: #dff1ff;
}
#selected-view #selected-glyph-list .preview:hover .remove {
  display: block;
}
#selected-view #selected-glyph-list .preview {
  float: left;
  display: none;
  width: 168px;
  margin-left: 5px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
#selected-view #selected-glyph-list .preview .section {
  padding: 7px;
}
#selected-view #selected-glyph-list .preview .section.borders {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#selected-view #selected-glyph-list .preview i {
  text-align: left;
}
#selected-view #selected-glyph-list .preview.selected {
  display: block;
}
#selected-view #selected-glyph-list .preview .size-12px {
  font-size: 12px;
}
#selected-view #selected-glyph-list .preview .size-16px {
  font-size: 16px;
}
#selected-view #selected-glyph-list .preview .size-28px {
  font-size: 28px;
}
#selected-view #selected-glyph-list .preview .size-42px {
  font-size: 42px;
}
.megafooter {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #555;
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: url(../img/low_contrast_linen.png);
  text-shadow: -1px -1px 0px #000000;
}
.megafooter h4 {
  line-height: 2em;
}
.megafooter h4 a {
  font-size: 1.5em;
  color: #ccc;
  line-height: 0.3;
  margin-left: 10px;
}
.megafooter h4 a:hover {
  text-decoration: none;
  color: #fff;
}
.megafooter .grantpic,
.megafooter .claypic {
  display: block;
  float: left;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  width: 62px;
  height: 62px;
  margin-right: 10px;
  margin-top: 10px;
}
.megafooter .grantpic {
  background: center center no-repeat url(../img/grantpic.jpeg);
}
.megafooter .claypic {
  background: center center no-repeat url(../img/claypic.jpeg);
}
.megafooter a {
  color: #76D1FF;
}
.megafooter p {
  color: #ccc;
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: 200;
}
.megafooter .copyright {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #888;
  font-weight: 300;
}
