<div class="container">
	<div class="masthead">
		<h1>Builder</h1>
		<h2>for jQuery Mobile Icon Pack</h2>
		<p>
			<span>Create a custom <a href="http://fortawesome.github.com/Font-Awesome/">FontAwesome 3.0</a> icon-font kit with only the icons you want.</span> Don't want to fiddle with building your own? <a href="http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/">Download the entire Icon Pack!</a>
		</p>
	</div>
</div>


<div class="container builder">
	<div id="glyphapp" class="row">
		<div class="span9">
			<h2>
				<span>1. Choose your icons </span>
				<small>
					Click to add to your set.
					<a class="js-btn-none" ng-click="selectNone()" href="">Clear</a>
				</small>
			</h2>
			<ul id="glyph-list" >
				<li ng-repeat="glyph in glyphs" ng-class="glyph.selectedclass" ng-click="toggleSelected(glyph)">
					<i class="icon-{{glyph.name}}"></i>
				</li>
			</ul>
		</div>
		<div class="span3">
			<h2>2. Preview your icon set <small> Click an icon to remove it.</small></h2>
			<div id="selected-view" class="row">
				<ul id="selected-glyph-list" class="unstyled">
					<li ng-repeat="glyph in glyphs" class="preview" ng-class="glyph.selectedclass" ng-click="toggleSelected(glyph)">
						<span class="remove icon-remove-sign"></span>
						<span class="name"><i class="icon-{{glyph.name}} icon-large"></i> icon-{{glyph.name}}</span>
					</li>
				</ul>
			</div>
			<h2>
				3. Download<br />
				<small>(CSS, LESS, SCSS, & SASS files)</small>
			</h2>
			<div id="download" ng-click="downloadNow()">
				<button class="btn btn-large btn-success icon-download-alt icon-large btn-download"> Download Now</button>
			</div>
		</div>
	</div>
</div>